###Pertemuan 1 Python

#**Operator**

Operator  simbol simbol yang dapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.
Tipe tipe operator :
1. Operator Aritmatika
2. Operator Assignment
3. Operator Pembanding
4. Operator Logika
5. Operator Membership

## Operator Aritmatika

Operator Aritmatika digunakan untuk melkaukan operasi matematika yang umum.

Macam macam Operator Aritmatika, yaitu :

```
+ : Penjumlahan
- : Pengurangan
* :Perkalian
/ : Pembagian
% : Modulus
**: Perpangkatan
//: Pembagian dengan hasil pembulatan flooring
```

###Contoh Penggunaan Operator Aritmatika

In [ ]:
#Penjumlahan
print('Penjumlahan')
print(2+2)
#Pengurangan
print('Pengurangan')
print('-'*20)
print(2-3)
#Perkalian
print('Perkalian')
print('-'*20)
print(2*3)
#Pembagian
print('Pembagian')
print('-'*20)
print(2/3)
#Modulus
print('Modulus')
print('-'*20)
print(3%2)
#Perpangkatan
print('Perpangkatan')
print('-'*20)
print(2**3)
#Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print('-'*20)
print(3//2)

Penjumlahan
4
Pengurangan
--------------------
-1
Perkalian
--------------------
6
Pembagian
--------------------
0.6666666666666666
Modulus
--------------------
1
Perpangkatan
--------------------
8
Pembagian pembulatan flooring
--------------------
1

### Latihan Operator 1

In [ ]:
#Buatlah Program penerapan operator Aritmatika
#dengan nilai - nilai  yang berbeda dari contoh diatas

###Jawaban

In [ ]:
#Penjumlahan
print('Penjumlahan')
print(12+3)
print('-'*20)
#Pengurangan
print('Pengurangan')
print(20-8)
print('-'*20)
#Perkalian
print('Perkalian')
print(12*3)
print('-'*20)
#Pembagian
print('Pembagian')
print(80/6)
print(3%6)
#Modulus
print('Modulus')
print('-'*20)
#Perpangkatan
print('Perpangkatan')
print(2**10)
print('-'*20)
#Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print(8//3)
print('-'*20)

Penjumlahan
15
--------------------
Pengurangan
12
--------------------
Perkalian
36
--------------------
Pembagian
13.333333333333334
3
Modulus
--------------------
Perpangkatan
1024
--------------------
Pembagian pembulatan flooring
2
--------------------

## Operator Assignment
Operator ```Assignment``` digunakan untuk menyimpan nilai menjadi suatu variabel



```
= : Contohnya x = 5 -> x = 5
+= : Contohnya x = x + 5 -> x += 5
-= : Contohnya x = x - 5 -> x -= 5
*= : Contohnya x = x * 5 -> x *= 5
/= : Contohnya x = x / 5 -> x /= 5
%= : Contohnya x = x % 5 -> x %= 5
//= : Contohnya x = x // 5 -> x //= 5
**= : Contohnya x = x ** 5 -> x **= 5
```

###Contoh Penggunaan Operator Assignment

In [ ]:
#Penjumlahan
print('Penjumlahan')
x=5
x=x+5
print(x)
x=5
x+=5
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x=5
x=x-5
print(x)
x=5
x-=3
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x=5
x=x*5
print(x)
x=5
x*=3
print(x)
print('-'*20)

#Pembagian
print('pembagian')
x=5
x=x/5
print(x)
x=5
x/=3
print(x)
print('-'*20)

#Modulus
print('Modulus')
x=5
x=x%5
print(x)
x=5
x%=3
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x=5
x=x//5
print(x)
x=5
x//=3
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x=5
x=x**5
print(x)
x=5
x**=3
print(x)
print('-'*20)

Penjumlahan
10
10
--------------------
Pengurangan
0
2
--------------------
Perkalian
25
15
--------------------
pembagian
1.0
1.6666666666666667
--------------------
Modulus
0
2
--------------------
Pembagian Flooring
1
1
--------------------
Perpangkatan
3125
125
--------------------

###Latihan Operator 2

In [ ]:
# Buatlah program penerapan operator assignment
# dengan nilai niali yang berbeda  dari contoh diatas

###Jawaban

In [ ]:
#Penjumlahan
print('Penjumlahan')
x=4
x=x+4
print(x)
x=4
x+=6
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x=4
x=x-4
print(x)
x=4
x-=6
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x=4
x=x*4
print(x)
x=4
x*=6
print(x)
print('-'*20)

#Pembagian
print('Pembagian')
x=4
x=x/4
print(x)
x=4
x/=6
print(x)
print('-'*20)

#Modulus
print('Modulus')
x=4
x=x%6
print(x)
x=4
x%=6
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x=4
x=x//4
print(x)
x=4
x//=6
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x=4
x=x**4
print(x)
x=4
x**=6
print(x)
print('-'*20)

Penjumlahan
8
10
--------------------
Pengurangan
0
-2
--------------------
Perkalian
16
24
--------------------
Pembagian
1.0
0.6666666666666666
--------------------
Modulus
4
4
--------------------
Pembagian Flooring
1
0
--------------------
Perpangkatan
256
4096
--------------------

## Operator Pembanding
Operator Pembanding digunakan untuk membandingkan 2 nilai atau variabel

Macam macam Operator pembanding :

```
== -> samadengan
!= -> tidak samadengan
> -> lebih dari
< -> kurang dari
>= lebih dari dan samadengan
<= kurang dari dan samadengan
```

### Contoh penggunaan operator pembanding

In [ ]:
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
False
True
True

###Latihan Operator 3

In [ ]:
# Buatlah program penerapan operator pembanding
# dengan nilai niali yang berbeda  dari contoh diatas

###Jawaban

In [ ]:
print(8==8)
print(8!=8)
print(8>8)
print(8<8)
print(8>=8)
print(8<=8)

True
False
False
False
True
True

## Operator Logika
Operator logika digunakan untuk mengkombinasikan  statement statement kondisional

Macam macam opertaor logika :

```
and -> kondisi menjadi benar apabila semua statementnya benar
or -> kondisi menjadi benar apabila salah satu statementnya ada yang benar
not -> membalik hasil adri benar ke salah dan salah ke benar
```

### Contoh penggunaan operator loogika

In [ ]:
print(True and False)
print(False or False)
print(not False and True)

False
False
True

###Latihan Operator 4

In [ ]:
# Buatlah program penerapan operator logika
# dengan nilai niali yang berbeda dari contoh diatas

###Jawaban

In [ ]:
print(False and True)
print(True or True)
print(not True and False)

False
True
False

## Operator Membership / Keanggotaan
Operator keanggotaan digunakan untuk menguji apakah urutan disajikan dalam suatu objek

Macam macam operator Keanggotaan :

```
in      -> return True ketika nilai tertentu dalam sebuah urutan ada
not in  -> return True ketika nilai tertentu dalam sebuah uruta tidak ada
```

###Contoh penggunaan operator keanggotaan

In [ ]:
a=(1,2,3,4,5,6)
b=2

print(b in a)


print('-'*20)
a=(1,2,3,4,5,6)
b=7
print(b not in a)

True
--------------------
True

###Latihan operator 5

In [ ]:
# # Buatlah program penerapan operator keanggotaan  membership
# dengan nilai niali yang berbeda dari contoh diatas

###Jawaban

In [ ]:
a=(2,3,5,7,9,11,13,17)
b=5

print(b in a)


print('-'*20)
a=(2,3,5,7,9,11,13,17)
b=7
print(b not in a)

True
--------------------
False

#**Variabel**

Variabel: Lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat syarat penamaan variabel
1.   Karakter - karakter yang digunakan untuk penamaan variable adalah alphabet, angka dan underscore.
2.   Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if dan lainnya
4. Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [ ]:
# membuat variabel
kalimat ='ini adalah variabel'
bilangan1 = 0
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [ ]:
# menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
0
2.5
True
(4+1j)

##Latihan 1

In [ ]:
# buatlah 5 variabel kalian sendiri dengan 5 macam tipe data
# lalu tampilkan variabel menggunakan fungsi print

##Jawaban

In [ ]:
# buatlah 5 variabel kalian sendiri dengan 5 macam tipe data
kalimat = '5 variabel dengan 5 macam tipe data'
variabel1 = 10
variabel2 = 3.4
variabel3 = False
variabel4 = 2j + 3

In [ ]:
# tampilkan variabel menggunakan fungsi print
print(kalimat)
print(variabel1)
print(variabel2)
print(variabel3)
print(variabel4)

5 variabel dengan 5 macam tipe data
10
3.4
False
(3+2j)

#**Tipe Data & Konversi Tipe Data**

##Tipe Data

5 tipe data yaitu
1. Integr atau bilangan bulat
2. Float atau bilangan desimal
3. string atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [ ]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

###Latihan 2

In [ ]:
# cek tipe data variabel yang telah kalian buat pada latihan 1

###Jawaban

In [ ]:
# cek tipe data variabel yang telah kalian buat pada latihan
print(type(kalimat))
print(type(variabel1))
print(type(variabel2))
print(type(variabel3))
print(type(variabel4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

##Koversi Tipe Data

syntax konversi tipe data
1.   Integer = int()
2.   Float = float()
3. String = str()
4. Boolean = bool()
5. Complex = Complex()

In [ ]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [ ]:
# konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

0.0
1.0

In [ ]:
# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

0
2.5
True

In [ ]:
A = str(bilangan1)
B = str(bilangan2)
print(A+B)

02.5

In [ ]:
# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

False
True

In [ ]:
# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

0j
(2.5+0j)
(1+0j)

###Latihan 3

In [ ]:
# konversi tipe data yang telah kalian buat
# menjadi berbagai macam tipe data

###Jawaban

In [ ]:
# konversi tipe data integer
print(int(variabel1))
print(int(variabel2))
print(int(variabel3))

10
3
0

In [ ]:
# konversi tipe data float
print(float(variabel1))
print(float(variabel2))
print(float(variabel3))

10.0
3.4
0.0

In [ ]:
# konversi tipe data string
print(str(kalimat))
print(str(variabel1))
print(str(variabel2))
print(str(variabel3))
print(str(variabel4))

5 variabel dengan 5 macam tipe data
10
3.4
False
(3+2j)

In [ ]:
# konversi tipe data bool
print(bool(kalimat))
print(bool(variabel1))
print(bool(variabel2))
print(bool(variabel3))
print(bool(variabel4))

True
True
True
False
True

In [ ]:
# konversi tipe data complex
print(complex(variabel1))
print(complex(variabel2))
print(complex(variabel3))
print(complex(variabel4))

(10+0j)
(3.4+0j)
0j
(3+2j)