#PSDS PERTEMUAN 2

#STRUKTUR DATA LIST

##List

list adalah jenis kumpulan data terurut(ordered sequence), bisa diubah elemennya(mutable), bisa ditambahkan elemen baru atau menghapus elemen (changeable), dan merupakan salah satu variabel yang sering digunakan pada Pyhton. Serupa, namun tak sama dengan array pada bahasa pemograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

Setiap data didalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [1]:
#Contoh List
L1 = [1, 4, 2, 13]
print(type(L1))

<class 'list'>

In [2]:
L2 = ["a", "Python", 3]
print(type(L2))

<class 'list'>

In [3]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

##Indeks di python (List, Tuple) mulai dari 0

In [4]:
#sifat-sifat List
#Trurut/ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])
#bisa diganti/mutable
L1[1] = 2
print("List L1 setelah diganti elemennya", L1)

L1 = [1, "dua", True, 2+3j]

#dapat diindeks/slicing
print("slicing list L1:", L1[3])

#dapat diinjikan duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1:", L1)

#dapat mengubah data dengan menggant elemen tertentu
L1 = [1, "dua", True, 2+3j]
L1[2]=3
print("Data setelah diubah:", L1)

#dapat menambahkan elemen baru pada data
L1 = [1, "dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:", L1)

#dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
L1 = [1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 4, 2]
List L1 setelah diganti elemennya [1, 2, 2, 13]
slicing list L1: (2+3j)
Duplikasi pada List L1: [1, 'dua', True, (2+3j), (2+3j)]
Data setelah diubah: [1, 'dua', 3, (2+3j)]
Data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'dua', True]

In [5]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual)
L1 = [1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [6]:
L1 = [1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [7]:
#menambahkan data menggunakan fungsi insert(menambahkan elemen baru dilist pada indeks tertentu)
L1 = [1, "dua", True, 2+3j]
L1.insert(2, 5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [8]:
#menghapus elemen dari list menggunakan fungsi pop() (menghapus berdasrkan indeks)
L1 = [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [9]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

###Latihan 1

In [44]:
#Buatlah list kalian sendiri
KEPOYA = [5, "Lima", True, 9+4j]
print(type(KEPOYA))

<class 'list'>

###Latihan 2

In [45]:
#ganti elemen yang ada pada list yang kalian buat
KEPOYA[2] = 7
print("List setelah diganti elemennya", KEPOYA)

List setelah diganti elemennya [5, 'Lima', 7, (9+4j)]

#STRUKTUR DATA TUPLE

##Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diuba elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dapat dieksekusi lebih cepat. Tiple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [10]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [11]:
T11 = 1, "dua", True, 1+2j
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [12]:
#Menampilkan tipe struktur data
type(T1)

tuple

In [13]:
type(T11)

tuple

##Sifat-sifat Tuple

In [14]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [15]:
#Tidak bisa diganti/imutable
T1[2] = "manusia"

TypeError: ignored

In [16]:
#dapat diineks/slicing
print("elemen kedua dari tuple T1 adalah", T1[1])

elemen kedua dari tuple T1 adalah dua

In [17]:
#Dapat diijinkan duplikasi
T2 = (3, 2, 4, True, 2.4)
T2

(3, 2, 4, True, 2.4)

In [20]:
#Tidak dapat menambahkan elemen baru
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [21]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [22]:
#tidak dapat menghapus elemen
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [23]:
T1.remove(1)
T1.remove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

In [24]:
#menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2, 4, True, 2.4)

###Latihan 1

In [26]:
#buatkan tuplemu sendiri
KEPO = (27, "empat", True, 5+4j)
print(f' tuple\t: {KEPO}')

 tuple	: (27, 'empat', True, (5+4j))

###Latihan 2

In [28]:
#buatkan tuple kedua
LU = (7, 6, 5, True, 45.6)
print(f' tuple\t: {LU}')

 tuple	: (7, 6, 5, True, 45.6)

In [31]:
#Gabungkan
SIAPA = KEPO + LU
print("Tuple gabungan:", SIAPA)

Tuple gabungan: (27, 'empat', True, (5+4j), 7, 6, 5, True, 45.6)