#LIST PYTHON

Dalam bahasa pemrograman Python, struktur data yang paling dasar adalah urutan atau lists. Setiap elemen-elemen berurutan akan diberi
nomor posisi atau indeksnya. Indeks pertama dalam list adalah nol, indeks kedua adalah satu dan seterusnya.

Python memiliki enam jenis urutan built-in, namun yang paling umum adalah list dan tuple. Ada beberapa hal yang dapat Anda lakukan dengan
semua jenis list. Operasi ini meliputi pengindeksan, pengiris, penambahan, perbanyak, dan pengecekan keanggotaan. Selain itu, Python
memiliki fungsi built-in untuk menemukan panjang list dan untuk menemukan elemen terbesar dan terkecilnya.

##Membuat List Python

List adalah tipe data yang paling serbaguna yang tersedia dalam bahasa Python, yang dapat ditulis sebagai daftar nilai yang dipisahkan koma
(item) antara tanda kurung siku. Hal penting tentang daftar adalah item dalam list tidak boleh sama jenisnya.

Membuat list sangat sederhana, tinggal memasukkan berbagai nilai yang dipisahkan koma di antara tanda kurung siku. Dibawah ini adalah
contoh sederhana pembuatan list dalam bahasa Python.

In [ ]:
#contoh sederhana pembuatan list pada bahasa pemograman python
list1 = ['kimia', 'fisika', 1993, 2017]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]

print('List 1:', list1)
print('List 2:', list2)
print('List 3:', list3)

List 1: ['kimia', 'fisika', 1993, 2017]
List 2: [1, 2, 3, 4, 5]
List 3: ['a', 'b', 'c', 'd']

##Akses Nilai Dalam List Python

Untuk mengakses nilai dalam list python, gunakan tanda kurung siku untuk mengiris beserta indeks atau indeks untuk mendapatkan nilai yang
tersedia pada indeks tersebut.

In [ ]:
#Cara mengakses nilai di dalam list Python
list1 = ['fisika', 'kimia', 1993, 2017]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  fisika
list2[1:5]:  [2, 3, 4, 5]

##Update Nilai Dalam List Python

Kita dapat memperbarui satu atau beberapa nilai di dalam list dengan memberikan potongan di sisi kiri operator penugasan, dan kita dapat
menambahkan nilai ke dalam list dengan metode append ().

In [ ]:
list = ['fisika', 'kimia', 1993, 2017]
print ("Nilai ada pada index 2 : ", list[2])
list[2] = 2001
print ("Nilai baru ada pada index 2 : ", list[2])

Nilai ada pada index 2 :  1993
Nilai baru ada pada index 2 :  2001

##Hapus Nilai Dalam List Python

Untuk menghapus nilai di dalam list python, kita dapat menggunakan salah satu pernyataan del jika Anda tahu persis elemen yang Anda hapus.
Kita dapat menggunakan metode remove() jika Anda tidak tahu persis item mana yang akan dihapus.

In [ ]:
#Contoh cara menghapus nilai pada list python
list = ['fisika', 'kimia', 1993, 2017]
print (list)
del list[2]
print ("Setelah dihapus nilai pada index 2 : ", list)

['fisika', 'kimia', 1993, 2017]
Setelah dihapus nilai pada index 2 :  ['fisika', 'kimia', 2017]

##Slicing pada List Python

Karena string mirip dengan list, maka slicing operator [ ] juga dapat digunakan pada string untuk mengambil isinya atau bahkan substring.
Sebuah string utuh bersifat mutable (bisa diubah), namun elemennya bersifat immutable (tidak bisa diubah).

In [ ]:
L = ['C++', 'Java', 'Python']
print('Indeks ke-2:', L[2])
print('Indeks ke-2 dari belakang :', L[-2])
print('Indeks ke 1 dan 2 :', L[1:])

Indeks ke-2: Python
Indeks ke-2 dari belakang : Java
Indeks ke 1 dan 2 : ['Java', 'Python']

#SET

Set juga merupakan tipe data untuk mengumpulkan beberapa item dalam satu variabel. Bedanya, item di dalam set bersifat tidak berurutan dan
tidak bisa diubah/diduplikasi. Set menggunakan {} sebagai kontainer.

Sama seperti list, set juga bisa diisi oleh item dengan berbagai jenis data.

##Mengakses item dalam set

Karena set menampung item tidak secara berurutan, maka kita harus memasukan nilai item secara spesifik, dan tidak bisa menggunakan
urutan seperti list.

In [ ]:
a = {"Rokok", "Korek", "Asbak"}
print("Rokok" in a)

True

##Menghapus item dalam set

Untuk menghapus item di dalam set, fungsi yang digunakan adalah (variabel).remove(item). Kita tidak bisa menggunakan .pop(urutan_item)
seperti di list, karena set tidak memiliki urutan item.

In [ ]:
a = {"Rokok", "Korek", "Asbak"}
a.remove("Korek")
print(a)

{'Asbak', 'Rokok'}

##Dictionary

Dictionary sebagai tipe data berfungsi mengumpulkan beberapa item dalam satu variabel dengan format key:value. Item di dalam dictionary
bersifat berurutan, bisa diubah, tetapi tidak bisa diduplikasi. Dictionary menggunakan simbol {item:item} sebagai kontainer.

Contoh dictionary yang diisi item dengan berbagai jenis tipe data.

In [ ]:
x = {"nama": "Budi", "umur": 50, "tinggi_badan": 155.5}
print(x)

{'nama': 'Budi', 'umur': 50, 'tinggi_badan': 155.5}

##Mengakses value dari dictionary

Untuk mengakses value dari sebuah key dalam dictionary, gunakan (variabel[key]).

In [ ]:
menteri = {"nama": "Budi", "umur": 50}
print(menteri["umur"])

50

In [ ]:
#Contoh cara membuat Dictionary pada Python
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

#Update Nilai Dalam Dictionary Python

Dapat memperbarui Dictionary dengan menambahkan entri baru atau pasangan nilai kunci, memodifikasi entri yang ada

##Mengubah item

Untuk mengubah item, kita perlu menentukan terlebih dahulu key dari item yang ingin diubah. Sintaksis yang digunakan adalah (variabel[key]) =
value_baru

In [ ]:
#Update dictionary python
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # Mengubah entri yang sudah ada
dict['School'] = "DPS School" # Menambah entri baru
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

In [ ]:
menteri = {"nama": "Budi", "umur": 50}
menteri["nama"] = "Adi"
print(menteri)

{'nama': 'Adi', 'umur': 50}

##Menambah item

Menambah item memiliki langkah yang sama dengan mengubah item. Bedanya, key yang dimasukkan adalah key baru yang belum ada di
dalam dictionary. Sintaksis yang digunakan adalah (variabel[key_baru]) = value_baru.

In [ ]:
menteri = {"nama": "Budi", "umur": 50}
menteri["kementerian"] = "Setneg"
print(menteri)

{'nama': 'Budi', 'umur': 50, 'kementerian': 'Setneg'}

##Menghapus item

Untuk menghapus item dalam dictionary, kita menggunakan fungsi .pop dengan sintaksis (variabel).pop(key_yang_ingin_dihapus).

In [ ]:
menteri = {"nama": "Budi", "umur": 50, "kementerian": "Setneg"}
print(menteri.pop("kementerian"))

Setneg

In [ ]:
#Contoh cara menghapus pada Dictionary Python
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name'] # hapus entri dengan key 'Name'
dict.clear() # hapus semua entri di dict
del dict # hapus dictionary yang sudah ada
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  dict['Age']
dict['School']:  dict['School']